.component__amount_field {
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
  padding: 1rem 1.5rem !important;
  border-radius: 0.25rem !important;
  .ant-input {
    text-align: right;
    background-color: rgb(63, 70, 80);
    color: white;
    font-size: 1.5rem !important;
    font-weight: 300;
  }
}
