.page__home {
  text-align: center;
  padding-top: 5vh;
  margin: auto;
  .page__home__content {
    position: relative;
    .page__home__content__frame {
      overflow: hidden;
      position: absolute;
      transition: all 0.5s;
      margin-bottom: 2rem;

      &.page__home__content__frame--active {
        left: 0;
        width: 100%;
        opacity: 1;
      }
      &.page__home__content__frame--left {
        left: -5000px;
        opacity: 0;
        width: 100%;
      }
      &.page__home__content__frame--right {
        left: 5000px;
        opacity: 0;
        width: 100%;
      }
    }
  }
}
