@import "node_modules/react-modal-video/scss/modal-video.scss";

.page__home {
  text-align: center;
  margin: auto;

  .page__home__exchange__container {
    position: relative;
    padding-top: 20vh;
    height: 100vh;
    min-height: 1080px;

    .page__home__exchange__container__frame {
      overflow: hidden;
      position: absolute;
      transition: all 0.7s;

      &.page__home__exchange__container__frame--active {
        left: 0;
        width: 100%;
        opacity: 1;
        z-index: 1;
      }
      &.page__home__exchange__container__frame--inactive {
        opacity: 0;
        width: 100%;
        z-index: -1;
      }
    }

    .page__home__exchange__container__beta-notice {
      margin-top: 35rem;
    }

    @media screen and (max-width: 500px) {
      min-height: auto;
      height: auto;
      padding: 4rem 0;
      padding-top: 10vh;

      .page__home__exchange__container__beta-notice {
        margin-top: 28rem;
      }
    }
  }

  .page__home__info__container {
    margin: auto;
    height: 100vh;
    min-height: 1080px;
    padding: 10rem 0;
    position: relative;
    display: flex;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 4.25rem !important;
      font-size: 1.25rem !important;
      background-color: #33ff99 !important;
      color: #262525 !important;
      border: none !important;
      outline: none !important;
      box-shadow: none !important;
      height: 3.75rem !important;
      border-radius: 2px;
      z-index: 99;
    }

    @media screen and (max-width: 500px) {
      min-height: auto;
      height: auto;
    }
  }

  .page__home__faq__container__background {
    width: 50vw;
    height: 1px;
    margin-top: 5.5rem;
  }

  .page__home__faq__container {
    text-align: left;
    margin: auto;
    width: 90%;
    padding: 12.3rem 0;
    margin-top: -5.5rem;
    max-width: 1300px;

    .page__home__faq__container__youtube {
      width: 20rem;
      top: -7rem;
      left: calc(50% + 3rem);
      cursor: pointer;
    }

    .page__home__faq__container__header {
      font-size: 3.75rem;
    }

    @media screen and (max-width: 500px) {
      width: 90%;
      padding: 7rem 0;
      .page__home__faq__container__youtube {
        width: 12rem;
        top: -4rem;
        left: calc(50%);
      }
    }
  }
}
