.page__tutorial {
  background-image: url("../../static/images/bg-tutorial.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right top;
  background-size: 58%;
  .page__tutorial__content {
    width: 90%;
    padding: 4.58rem 0;
    max-width: 1000px;

    p {
      font-size: 1.125rem;
    }

    ul {
      list-style-type: circle;
      list-style-position: outside;

      li {
        font-size: 1.125rem;
      }
    }

    @media screen and (max-width: 500px) {
      width: 90%;
      padding-left: 0;
      padding-right: 0;
      ul {
        list-style-position: inside;
      }
    }
  }
}
