.component__header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  .component__header__content {
    width: 90%;
    max-width: 1300px;

    .component__header__content__app {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 2px;
      z-index: 99;
      width: 7.5rem;
      height: 2.125rem;
    }

    .component__header__content__more {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
