.component__header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  .component__header__content {
    width: 80%;
    @media screen and (max-width: 500px) {
      width: 90%;
    }

    .component__header__content__more {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
