.component__address_input {
  textarea {
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
    background-color: transparent !important;
    padding: 0 !important;
    font-size: 1.25rem;
    font-weight: 400;
    color: rgb(147, 152, 162);
    line-height: 1.25;
  }
}

.component__address_input.bg-gray-400 {
  background-color: #232c35 !important;
}

.component__address_input.bg-secondary {
  background-color: #00000099 !important;
}