body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--bg) !important;
  --bg: rgb(69, 71, 87);
  --bg-primary: rgb(52, 55, 63);
  --app-frame-width: 450px;
  --app-header-width: 1200px;

  #root {
    margin: 0 auto;
  }

  .app_header_content {
    max-width: var(--app-header-width);
    margin: auto;
  }

  .app_frame {
    max-width: var(--app-frame-width);
  }

  .bg-primary {
    background-color: var(--bg-primary);
  }

  .c-white {
    color: white;
  }
}
